@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.flatButton
{
    height: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top-color: -moz-use-text-color;
	border-right-color: -moz-use-text-color;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-bottom-color: -moz-use-text-color;
	border-left-color: -moz-use-text-color;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	font-size: 13px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	cursor: default;
	text-decoration: none;
	
	background-color: #CEE1EF;
	color: #224466;
	border-top-color: #80b5d0;
	border-right-color: #80b5d0;
	border-bottom-color: #80b5d0;
	border-left-color: #80b5d0;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	
	
	border-top-color: #535353;
	border-right-color: #535353;
	border-bottom-color: #535353;
	border-left-color: #535353;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	
	background-color: #CEE1EF;
	border-top-color: #80b5d0;
	border-right-color: #80b5d0;
	border-bottom-color: #80b5d0;
	border-left-color: #80b5d0;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
}

.float-left
{
float: left;
}
