@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.mainRightPanel {
	background-color: #eee;
	background-image: url(/Styles/Images/Bitexco_Financial2.jpg);	
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin:0px;
	padding:0px;
	width:150px;
	height:929px;
}

body {
	background-color: #eee;
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin:0px;
	padding:0px;
}

a {
	color: #23dbdb;
	text-decoration: none;
}

a:hover {
	color: #000;
}
ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}

#wrapper {
  margin-left: 0px;  
}

.menu,
.sub-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  background-color: #3E454D;
  cursor: pointer;
  position: relative;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  -webkit-transition: background-color .5s;
}

.menu li:hover {
  background-color: #353B41 !important; 
}

.menu a {
  color: #23dbdb;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover {
  color: #FFF;
}

.menu {
  height: 50px;
}

.menu > li 
{
    display: inline-block;
  float: left;
  height: 100%;
  width: 15%; 
  width: calc((100% - 90px) / 5);
  width: -moz-calc((100% - 90px) / 5);
  width: -webkit-calc((100% - 90px) / 5);
}

.menu > li.home {
  background: #3E454D;
  width: 90px;
}

.menu > li.current {
  background-color: #F2762E !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.menu > li:not(:first-child) {
  -moz-box-shadow: inset 1px 0 0 0 #272B31, inset 2px 0 0 0 #434A52;
  -webkit-box-shadow: inset 1px 0 0 0 #272B31, inset 2px 0 0 0 #434A52;
}

.menu > li.home > a {
  
}

.menu > li > a > span {
  left: 0; 
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}

.sub-menu 
{
  max-height: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 100%;
  -moz-transition: max-height .5s .2s;
  -o-transition: max-height .5s .2s;
  -webkit-transition: max-height .5s .2s;
  z-index: 9999;
}


li:hover > .sub-menu {
  max-height: 600px;
}

.sub-menu li {
  height: 40px;
}

.sub-menu a {
  line-height: 40px;
  -moz-transition: color .5s;
  -o-transition: color .5s;
  -webkit-transition: color .5s;
  white-space: nowrap;
  text-align:left;
  margin-left:20px;
}

.sub-menu li.current a,
.sub-menu a:hover {
  color: #F2762E !important;
}
