<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="RoomSearch" connectionString="data source=112.213.89.173; initial catalog=RoomSearch; User ID=thanhhung15; Password=roomsearch" providerName="System.Data.SqlClient"/>-->
    <!--<add name="RoomSearch" connectionString="data source=112.213.89.164; initial catalog=RoomSearch; User ID=ThanhHung; Password=roomsearch" providerName="System.Data.SqlClient"/>-->
    <add name="RoomSearch" connectionString="data source=HUNGTRANXPS\SQLSERVER2008R2; initial catalog=RoomSearch; User ID=sa; Password=loveyou" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="EnableAutoLoginComplete" value="true" />
    <add key="GloblaCulture" value="vi-vn" />
    <add key="NumberFormatCulture" value="vi-vn" />
    <add key="DateTimeFormatCulture" value="vi-vn" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI,  Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI,  Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <!--<add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler, Telerik.Web.UI"/>-->
      <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2008.3.1125.20, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" />
    </httpModules>
    <httpRuntime maxRequestLength="102400" executionTimeout="3600" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="tranthanhhung82@gmail.com">
        <network host="smtp.gmail.com" enableSsl="true" userName="tranthanhhung82@gmail.com" password="loveyou1986" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <rewrite>
      <rules>

        <rule name="RedirectRoomURL1" stopProcessing="true">
          <match url="^SearchRoomPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^([^=&amp;]+)=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="tim-phong-tro/quan/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="RewriteRoomURL1" stopProcessing="true">
          <match url="^tim-phong-tro/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="SearchRoomPage.aspx?DistrictId={R:2}" />
        </rule>
        <rule name="RedirectRoomURL2" stopProcessing="true">
          <match url="^SearchRoomPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="tim-phong-tro" appendQueryString="false" />
        </rule>
        <rule name="RewriteRoomURL2" stopProcessing="true">
          <match url="^tim-phong-tro$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="SearchRoomPage.aspx" />
        </rule>
        <rule name="RedirectRoomURL3" stopProcessing="true">
          <match url="^PostDetailPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^PostType=1&amp;Mode=([^=&amp;]+)&amp;PostId=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="chi-tiet-tin/1/{C:1}/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="RewriteRoomURL3" stopProcessing="true">
          <match url="^chi-tiet-tin/1/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="PostDetailPage.aspx?PostType=1&amp;Mode={R:1}&amp;PostId={R:2}" />
        </rule>
        <rule name="RedirectRoomURL4" stopProcessing="true">
          <match url="^CreatePostPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^PostType=1$" />
          </conditions>
          <action type="Redirect" url="dang-tin-phong-tro/1" appendQueryString="false" />
        </rule>
        <rule name="RewriteRoomURL4" stopProcessing="true">
          <match url="^dang-tin-phong-tro/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="CreatePostPage.aspx?PostType=1" appendQueryString="false"/>
        </rule>
        <rule name="RedirectRoomURL5" stopProcessing="true">
          <match url="^SearchOldPostPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^PostType=1$" />
          </conditions>
          <action type="Redirect" url="sua-tin-phong-tro-da-dang/1" appendQueryString="false" />
        </rule>
        <rule name="RewriteRoomURL5" stopProcessing="true">
          <match url="^sua-tin-phong-tro-da-dang/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="SearchOldPostPage.aspx?PostType=1" />
        </rule>

        <rule name="RedirectStayWithURL1" stopProcessing="true">
          <match url="^SearchStayWithPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^([^=&amp;]+)=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="tim-o-ghep/quan/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="RewriteStayWithURL1" stopProcessing="true">
          <match url="^tim-o-ghep/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="SearchStayWithPage.aspx?DistrictId={R:2}" />
        </rule>
        <rule name="RedirectStayWithURL2" stopProcessing="true">
          <match url="^SearchStayWithPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="tim-o-ghep" appendQueryString="false" />
        </rule>
        <rule name="RewriteStayWithURL2" stopProcessing="true">
          <match url="^tim-o-ghep$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="SearchStayWithPage.aspx" />
        </rule>
        <rule name="RedirectStayWithURL3" stopProcessing="true">
          <match url="^PostDetailPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^PostType=2&amp;Mode=([^=&amp;]+)&amp;PostId=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="chi-tiet-tin/2/{C:1}/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="RewriteStayWithURL3" stopProcessing="true">
          <match url="^chi-tiet-tin/2/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="PostDetailPage.aspx?PostType=2&amp;Mode={R:1}&amp;PostId={R:2}" />
        </rule>
        <rule name="RedirectStayWithURL4" stopProcessing="true">
          <match url="^CreatePostPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^PostType=2$" />
          </conditions>
          <action type="Redirect" url="dang-tin-o-ghep/2" appendQueryString="false" />
        </rule>
        <rule name="RewriteStayWithURL4" stopProcessing="true">
          <match url="^dang-tin-o-ghep/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="CreatePostPage.aspx?PostType=2" appendQueryString="false"/>
        </rule>
        <rule name="RedirectStayWithURL5" stopProcessing="true">
          <match url="^SearchOldPostPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^PostType=2$" />
          </conditions>
          <action type="Redirect" url="sua-tin-o-ghep-da-dang/2" appendQueryString="false" />
        </rule>
        <rule name="RewriteStayWithURL5" stopProcessing="true">
          <match url="^sua-tin-o-ghep-da-dang/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="SearchOldPostPage.aspx?PostType=2" />
        </rule>

        <rule name="RedirectHouseURL1" stopProcessing="true">
          <match url="^SearchHousePage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^([^=&amp;]+)=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="tim-nha-dat/quan/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="RewriteHouseURL1" stopProcessing="true">
          <match url="^tim-nha-dat/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="SearchHousePage.aspx?DistrictId={R:2}" />
        </rule>
        <rule name="RedirectHouseURL2" stopProcessing="true">
          <match url="^SearchHousePage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="tim-nha-dat" appendQueryString="false" />
        </rule>
        <rule name="RewriteHouseURL2" stopProcessing="true">
          <match url="^tim-nha-dat$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="SearchHousePage.aspx" />
        </rule>
        <rule name="RedirectHouseURL3" stopProcessing="true">
          <match url="^PostDetailPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^PostType=3&amp;Mode=([^=&amp;]+)&amp;PostId=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="chi-tiet-tin/3/{C:1}/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="RewriteHouseURL3" stopProcessing="true">
          <match url="^chi-tiet-tin/3/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="PostDetailPage.aspx?PostType=3&amp;Mode={R:1}&amp;PostId={R:2}" />
        </rule>
        <rule name="RedirectHouseURL4" stopProcessing="true">
          <match url="^CreatePostPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^PostType=3$" />
          </conditions>
          <action type="Redirect" url="dang-tin-nha-dat/3" appendQueryString="false" />
        </rule>
        <rule name="RewriteHouseURL4" stopProcessing="true">
          <match url="^dang-tin-nha-dat/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="CreatePostPage.aspx?PostType=3" appendQueryString="false"/>
        </rule>
        <rule name="RedirectHouseURL5" stopProcessing="true">
          <match url="^SearchOldPostPage\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^PostType=3$" />
          </conditions>
          <action type="Redirect" url="sua-tin-nha-dat-da-dang/3" appendQueryString="false" />
        </rule>
        <rule name="RewriteHouseURL5" stopProcessing="true">
          <match url="^sua-tin-nha-dat-da-dang/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="SearchOldPostPage.aspx?PostType=3" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="Telerik.Web.UI.WebResource" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding
            name="HttpBindingWithTimeouts"
            bypassProxyOnLocal="true"
            maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647"
            useDefaultWebProxy="false"
            openTimeout="00:10:00"
            closeTimeout="00:10:00"
            sendTimeout="00:10:00"
            receiveTimeout="00:10:00">
          <readerQuotas
              maxStringContentLength="2147483647"
              maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior
            name="MyServicesBehavior">
          <serviceMetadata
              httpGetEnabled="true" />
          <serviceDebug
              includeExceptionDetailInFaults="true" />
          <dataContractSerializer
              maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service
          behaviorConfiguration="MyServicesBehavior"
          name="RoomSearch.Web.UI.Services.RoomSearchService">
        <endpoint
            address=""
            binding="basicHttpBinding"
            bindingConfiguration="HttpBindingWithTimeouts"
            contract="RoomSearch.Web.UI.Services.RoomSearchService" />
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>