<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="RoomSearch" connectionString="data source=112.213.89.173; initial catalog=RoomSearch; User ID=ThanhHung; Password=mimosa2014" providerName="System.Data.SqlClient"/>-->
    <add name="RoomSearch" connectionString="data source=HUNGTRANXPS\SQLSERVER2008R2; initial catalog=RoomSearch; User ID=sa; Password=loveyou" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add
      key="EnableAutoLoginComplete"
      value="true" />
    <add
      key="GloblaCulture"
      value="vi-vn" />
    <add
      key="NumberFormatCulture"
      value="vi-vn" />
    <add
      key="DateTimeFormatCulture"
      value="vi-vn" />
  </appSettings>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.0"/>-->    
    <roleManager
        enabled="true"
        defaultProvider="CustomizedRoleProvider"
        cacheRolesInCookie="true"
        cookieName=".ASPROLES"
        cookieTimeout="30"
        cookiePath="/"
        cookieRequireSSL="false"
        cookieSlidingExpiration="true"
        cookieProtection="All">
      <providers>
        <clear />
        <add
            name="CustomizedRoleProvider"
            type="System.Web.Security.SqlRoleProvider"
            connectionStringName="RoomSearch"
            applicationName="/" />
      </providers>
    </roleManager>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="RoomSearch" applicationName="/"/>
      </providers>
    </profile>
    <pages
        styleSheetTheme="MimosaTheme"
        enableViewStateMac="false"
        viewStateEncryptionMode="Never">
      <controls>
        <add
            tagPrefix="uc"
            namespace="RoomSearch.Web.UI.Controls"
            assembly="RoomSearch.Web.UI" />
      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="tranthanhhung82@gmail.com">
        <network host="smtp.gmail.com" enableSsl="true" userName="tranthanhhung82@gmail.com" password="loveyou1986" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>